{% extends "base.html" %}

{% block title %}Tags{% endblock %}
{% block content %}
<ul>
{% for tag in tag_cloud %}
<li class="tag-{{ tag.1 }}">
	<a href="{{ SITEURL }}/{{ tag.0.url }}#begin">
		<i class="icon-tag icon-large"></i>{{ tag.0 }}
	</a>
</li>
{% endfor %}
</ul>
{% endblock %}


<!-- 
{#
{% extends "base.html" %}
{% block title %}All Tags{% endblock %}
{% block content %}
{% if tags %}
<ul>
{% for tag, articles in tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
#}
 -->
